body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; /* Fundo escuro */
  padding: 30px;
  color: #f0f0f0; /* Texto claro */
  display: flex;
  justify-content: center;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #2a2a2a; /* Fundo do card */
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra sutil */
}

h1 {
  text-align: center;
  color: #ffffff; /* Título em branco */
}

h2 {
  margin-bottom: 10px;
  color: #e0e0e0; /* Subtítulo em cinza claro */
}

p {
  margin: 10px 0;
  color: #c0c0c0; /* Parágrafo em cinza */
}

input {
  box-sizing: border-box;
  background-color: #3a3a3a; /* Fundo do input */
  color: #f0f0f0; /* Texto claro */
}

button {
  background-color: #444; /* Botão escuro */
  color: #f0f0f0; /* Texto claro */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  margin-right: 10px;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555; /* Linha de separação */
}

.todo {
  background-color: #3a3a3a; /* Fundo das tarefas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra sutil */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete {
  background-color: #5cd85c; /* Verde para tarefas completas */
}

.remove {
  background-color: #f44336; /* Vermelho para remover */
}

.todo-form {
  padding-bottom: 1.5rem;
}

input,
select {
  padding: 5px;
  border: 1px solid #555; /* Borda em cinza */
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
}

.filter,
.search {
  border-bottom: 1px solid #555; /* Linha de separação */
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}